{% extends 'base.html' %}

{% block title %} Admin Page {% endblock %}

{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Masalar</th>
            <th scope="col">satıştaki ürünler</th>
            <th scope="col">ürün ekle</th>
            <th scope="col">siparişleri görüntüle</th>
            <th scope="col">Masa Ekle</th>

        </tr>

    </thead> 
    <tbody>
        <tr>
        <td><a href="/customers">Müşteriler</a></td>
        <td><a href="/shop-items">Satışta olan ürünler</a></td>
        <td><a href="/add-shop-items">Ürün ekle</a></td>
        <td><a href="/view-orders">Siparişleri Görüntüle</a></td>
        <td><a href="/addnewtable">Yeni Masa Ekle</a></td>
        </tr>
    </tbody>
</table>


{% endblock %}