<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" ></script>


    <script src="https://kit.fontawesome.com/e24507d923.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Garden | {% block title %} {% endblock %}</title>
</head>
<body style="background-color: rgb(24, 129, 1);">


    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(255, 255, 255);">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="font-family: cursive; font-size: 25px;">Garden</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-grey" href="#" style="font-size: 15px;">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-grey" href="#" style="font-size: 15px;">İnstagram Sayfamız</a>
            </li>

          </ul>
        </div>

        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item mx-2" id="items">
            
            {% if cart | length < 1 %}
            <a class="nav-link text-grey" style=" margin-left:205px; margin-top:10px;" href="/cart"><span class="badge bg-success"></span> Sepetim
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            {% else %}
            <a class="nav-link text-grey" style=" margin-left:205px; margin-top:10px;" href="/cart"><span class="badge bg-success"></span> Sepetim
              <i class="bi bi-{{ cart | length }}-square-fill"></i>
            </a>
            
            {% endif %}
            
            
          </li>

        </ul>


      </div>
    </nav>


    {% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 5px;">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
    </div>
    {% endfor %}

    {% block body %}


    {% endblock %}


    <footer class="container-fluid  text-center p-2 mt-5" style="background-color: rgb(68, 156, 9); color: white;">
      <a href="https://RestorantUrl.com" style="color: white;">Garden</a> | <span>
        <i class="fa-sharp fa-regular fa-copyright"></i></span> 2024 Tüm hakları saklıdır.
        <a href="/login" style="color: rgb(65, 234, 9); background-color: green;">Admin Giriş</a>

    </footer>

    <script src="{{ url_for( 'static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/all.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.js') }}"></script>

    <script src="{{ url_for( 'static', filename='js/myScript.js') }}"></script>



</body>
    






    
    
</body>
</html>