{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Hesap İsmi</th>
            <th scope="col">Katıldığı Tarih</th>
            <th scope="col">Aksiyon</th>

        </tr>

    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.username }}</td>
        <td>{{ customer.date_joined }}</td>
        <td>
            <a href="/remove-user/{{ customer.id }}">Kullanıcıyı Sil</a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}