{% extends 'base.html' %}

{% block title %} Ana Sayfa {% endblock %}


{% block body %}

<div class="container text-center">
    <div class="row" style="margin: 5px; margin-left:-2px; margin-right:-2px;">
      <div class="col " style="margin: 3px;">
        <div class="list-group" id="right1">

            <a href="/" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-137px;"></i>                
                <span class="link-name" >💯🎉  İndirimli Ürünler</span>
            </a>

            <a href="/deserts" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-240px;"></i>                
                <span class="link-name" >🍩  Tatlı</span>
            </a>
            <a href="/mainmenu" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-190px;" aria-hidden="true"></i>
                <span class="link-name">🍗 Ana yemek</span>
            </a>
            <a href="/sneaks" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-180px;" aria-hidden="true"></i>
                <span class="button">🍟 Ara Sıcaklar</span>
            </a>

            <a href="/colddrinks" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-155px;"></i>                
                <span class="button">🍹 Soğuk İçecekler</span>
            </a>
            <a href="/hotdrinks" class="list-group-item list-group-item-action">
                <i class="button"  style="margin-left:-160px;" aria-hidden="true"></i>
                <span class="button">☕ Sıcak İçecekler</span>
            </a>
            <a href="/salads" class="list-group-item list-group-item-action">
                <i class="button" style="margin-left:-200px;" aria-hidden="true"></i>
                <span class="button">🥗  Salatalar</span>
            </a>

        </div>
      </div>
      <div class="col-md-2">
        <div class="row" style="background-color: white; border-radius: 10px;">
        </div>
        
        </div>
      </div>
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/techweek.png" alt="" style="width: 35px; height: 35px;">
            <h6 style="margin: 4px">Hijyenik Hazırlama </h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/FreeDelivery.png" alt="" style="width: 35px; height: 35px;">
            <h6 style="margin: 4px">Hızlı Servis</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/food.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Üst Sınıf Kalite</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/airtime.png" alt="" style="width: 35px; height: 35px;">
            <h6 style="margin: -1px">Sıcak Ve Lezzetli</h6>
        </div>
 
    </div>
</div>

<form class="d-flex" role="search" action="/search" style="margin-left:20px; margin-right:20px;" method="POST">
    <input class="form-control me-2" name="search" type="search" placeholder="Ürün İsmi" aria-label="Search">
    <button class="btn" type="submit">🔎</button>
  </form>
<div class="container text-center">
    <div class="row" style="margin: 8px; border-radius: 10px; background-color: rgb(219, 219, 218);" id="column">

        {% for item in items %}

        <div class="col" style=" background-color: rgb(255, 255, 255);">
        
            <img src="{{ item.product_picture }}" alt="" style="height: 100px; width: 95px; border-radius: 10px; margin-top:20px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: gray;">{{ item.product_name }}</h6>
            </div>

            <div class="row" style="margin-top: 10px;">
            
                <div class="col">

                    <h5 style="font-weight: 600; font-family: 'Times New Roman', Times, serif; margin-bottom: 20px;">{{ item.current_price }} TL</h5>

                </div>

                <div class="col">
                    <a href="/add-to-cart/{{ item.id }}">Ekle</a>
                </div>
            
            </div>

            <div class="row">
                
            </div>
        </div>
    
        {% endfor %}

    </div>
</div>


{% endblock %}