{% extends 'forms.html' %}

{% block title %} Admin Girişi {% endblock %}

{% block body %}

<!-- Login section start -->

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">
            <h3>
                Admin Paneline Erişmek için <br> Giriş Yap
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>E-Posta Adresi</h4>{{ form.email }} <hr></div>
                <div class="password"><h4>Şifre</h4>{{ form.password }} <hr></div>

                <div class="buttons">
                    {{ form.submit() }}
                    
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}