{% extends 'base.html' %}

{% block title %} Add Shop Items {% endblock %}


{% block body %}

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Önceki Fiyat</th>
            <th scope="col">Şimdiki Fiyat</th>
            <th scope="col">Fotoğraf</th>
            <th scope="col">Hızlı Satış</th>
            <th scope="col">Atıştırmalık</th>
            <th scope="col">Ana Yemek</th>
            <th scope="col">Soğuk İçicek</th>
            <th scope="col">Sıcak İçicek</th>
            <th scope="col">Tatlı</th>
            <th scope="col">Salata</th>
            
            <th scope="col">Ekle</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <form action="" method="POST", enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <td>{{ form.product_name }}</td>
                <td>{{ form.previous_price }}</td>
                <td>{{ form.current_price }}</td>
                <td>{{ form.product_picture() }}</td>
                <td>{{ form.flash_sale }}</td>
                <td>{{ form.sneak }}</td>
                <td>{{ form.main }}</td>
                <td>{{ form.colddrink}}</td>
                <td>{{ form.hotdrink }}</td>
                <td>{{ form.desert}}</td>
                <td>{{ form.salad }}</td>
                <td>{{ form.update_product() }}</td>
            </form>
        </tr>
    </tbody>
</table>


{% endblock %}